body {
    background-image: url('https://cdn.pixabay.com/photo/2014/10/26/09/32/filmstrip-503587_960_720.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #fff;
}

h2 {
    background-color: rgba(0,0,0,.7);
    padding: 5px 20px;
    max-width: fit-content;
    margin:0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #cdcbcb;
    background-color: rgba(0,0,0,.9);
}

.buttons { 
    border: 1px solid #fff;
    background: #000;
    border-radius: 3px;
    color: #fff;
    padding: 10px 1px;
    margin: 0 20px;
    text-decoration: none;
    text-align: center;
}

.btn-on {
    color: white;
    background-color: #171b6e;
}

.header, .main {
    padding: 20px;
}

.title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.container:not(.movie) {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

.movies, .movie {
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    background-color: rgba(0,0,0,.7);
}

.comments {
    margin-top: 40px;
}

.comment{
    margin-bottom: 20px;
    font-size: .8rem;
    line-height: 1rem;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    background-color: #000;
    color: #fff;
}

input, legend {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgba(0,0,0,.7);
}

@media only screen and (min-width: 778px) {
    .header, .main {
        padding: 50px;
    }

    .buttons {
        margin: 0 50px;
    }

    .movies, .movie {
        grid-template-columns: 1fr 4fr;
    }
}

@media only screen and (min-width: 1200px) {
    .container:not(.movie) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}

    